.popup__container {
  max-width: 430px;
  margin: auto;
  padding-top: 34px;
  padding-right: 36px;
  padding-left: 36px;
  padding-bottom: 37px;
  display: flex;
  flex-direction: column;
  position: relative;
  top: 23%;
  left: 0;
  background-color: #fff;
  border-radius: 10px;
  box-sizing: border-box;
}