.add-button {
  width: 150px;
  height: 50px;
  padding: 0;
  background: transparent url(../../images/add-button/addButtun.svg);
  background-position: center;
  background-size: 22px;
  background-repeat: no-repeat;
  border: 2px solid #fff;
  border-radius: 2px;
  cursor: pointer;
  box-sizing: border-box;
  transition: opacity linear .3s;
}

.add-button:hover {
  opacity: .6;
}

@media screen and (max-width: 372px) {
  .add-button {
    width: 282px;
    background-size: 16px;
  }
}