.add-button {
  width: 100%;
  max-width: 150px;
  height: 50px;
  padding: 0;
  background: transparent url(../../images/add-button/AddButton.svg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
}

@media screen and (max-width: 372px) {
  .add-button {
    width: 100%;
    max-width: 282px;
    background: transparent url(../../images/add-button/AddButtonBig.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
}