.popup__close-button {
  width: 32px;
  height: 32px;
  position: absolute;
  top: -12%;
  left: 102%;
  background: transparent;
  background-image: url(../../../images/popup/Close-Icon.svg);
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
}