.popup__close-button {
  width: 32px;
  height: 32px;
  position: absolute;
  top: -12%;
  left: 102%;
  background: transparent;
  background-image: url(../../../images/popup/Close-Icon.svg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  transition: opacity linear .3s;
}

.popup__close-button:hover {
  opacity: .6;
}

@media screen and (max-width: 560px) {
  .popup__close-button {
    width: 20px;
    height: 20px;
    top: -11%;
    left: 93%;
  }
}