.popup__save-button {
  max-width: 358px;
  margin-top: 44px;
  padding: 0;
  padding: 13px 133px;
  align-self: center;
  font-size: 18px;
  line-height: 1.2;
  color: #fff;
  background-color: #000;
  border: 1px solid #000;
  border-radius: 2px;
  box-sizing: border-box;
  transition: opacity linear .3s;
}

.popup__save-button:hover {
  opacity: .8;
}

@media screen and (max-width: 560px) {
  .popup__save-button{
    max-width: 238px;
    margin-top: 42px;
    padding: 14px 82px;
    font-size: 14px;
  }
}